# Ignore everything
*

# Allow folder traversal
!*/

# Allow Unreal project core files if needed
!*.uproject
!Source/**/*.Build.cs
!Source/**/*.Target.cs

# Allow selected source files only

!Source/**/EosAbilitySystemComponent.h
!Source/**/EosAbilitySystemComponent.cpp

!Source/**/EosGameplayAbility.h
!Source/**/EosGameplayAbility.cpp

!Source/**/EosPlayerGameplayAbility.h
!Source/**/EosPlayerGameplayAbility.cpp

!Source/**/EosAttributeSet.h
!Source/**/EosAttributeSet.cpp

!Source/**/GeExecCalc_DamageTaken.h
!Source/**/GeExecCalc_DamageTaken.cpp

!Source/**/EosEnhancedInputComponent.h

!Source/**/EosDataAsset_InputConfig.h
!Source/**/EosDataAsset_InputConfig.cpp

!Source/**/EosBasePlayerController.h
!Source/**/EosBasePlayerController.cpp

!Source/**/EosBasePlayerCharacter.h
!Source/**/EosBasePlayerCharacter.cpp

!Source/**/EosBaseCombatComponent.h
!Source/**/EosBaseCombatComponent.cpp

!Source/**/EosPlayerCombatComponent.h
!Source/**/EosPlayerCombatComponent.cpp

!Source/**/EosBaseWeapon.h
!Source/**/EosBaseWeapon.cpp

!Source/**/EosBasePlayerWeapon.h
!Source/**/EosBasePlayerWeapon.cpp

!Source/**/EosCharacterAnimInstance.h
!Source/**/EosCharacterAnimInstance.cpp

!Source/**/EosPlayerLinkedAnimLayer.h
!Source/**/EosPlayerLinkedAnimLayer.cpp

!Source/**/EosDataAsset_BaseStartUpData.h
!Source/**/EosDataAsset_BaseStartUpData.cpp

!Source/**/EosDataAsset_PlayerStartUpData.h
!Source/**/EosDataAsset_PlayerStartUpData.cpp

!Source/**/EosDataAsset_PlayerStartUpData.h
!Source/**/EosDataAsset_PlayerStartUpData.cpp

!Source/**/EosGameplayTags.h
!Source/**/EosGameplayTags.cpp

!Source/**/EosStructTypes.h

!Source/**/EosFunctionLibrary.h
!Source/**/EosFunctionLibrary.cpp

# Allow gitignore itself
!.gitignore

# Exclude Rest API folder
Restapi/